.venv/*
SKILL.md
config.py
token.pickle
credentials.json
rclone.conf
.netrc
log.txt
cfg.zip
accounts/*
thumbnails/*
rclone/*
tokens/*
cookies/*
mediainfo/*
sabnzbd/*
list_drives.txt
shortener.txt
cookies.txt
downloads/*
